html, body {
  height: 100%; /* ocupa 100% da altura da tela */
  margin: 0;
  padding: 0;
}

#corpo {
  background-image: url("..//static/imagem-biblioteca.jpg "); /* caminho da imagem */
  background-size: cover;          /* cobre toda a tela */
  background-repeat: no-repeat;    /* evita repetição */
  background-attachment: fixed;    /* imagem fixa no scroll */
  background-position: center;     /* centraliza */
  min-height: 100vh;               /* garante altura mínima de viewport */
  display: flex;
  flex-direction: column;
}

/* A div container ocupa o meio e empurra o footer */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ====== MENU ====== */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  background-color: rgba(20, 83, 45, 0.95);
  color: white;
  text-align: center;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 40px;
}

/* ====== CONTEÚDO ====== */
#inicio {
  margin-top: 80px; /* deixa espaço pro menu */
  text-align: center;
  padding: 100px 20px 60px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* ====== BOTÕES ====== */
.botaoInicio {
  background-color: rgba(20, 83, 45, 0.9);
  color: white;
  padding: 14px 28px;
  margin: 10px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.botaoInicio:hover {
  background-color: #22c55e;
  color: #fff;
}

/* ====== RODAPÉ ====== */
#rodape {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  margin-top: auto; 
  width: 100vw;
}
