<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca Online</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='telainicial.css') }}">
</head>
<body id="corpo">
  <div class="container">
    <header id="menu">
      <nav>
        <h1 id="titulo">Biblioteca Univille</h1>
      </nav>
    </header>
    
    <section id="inicio">
      <a href="/devolucao" class="botaoInicio">Realizar devoluções de Livros</a>
      <a href="/itens" class="botaoInicio">Livros e Revistas</a>
      <a href="/locacao" class="botaoInicio">Realize locações de livros</a>
    </section>

    <footer id="rodape">
      <p>Biblioteca Univille - 2025</p>
    </footer>
  </div>
</body>
</html>
